<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of Todo">
                <th scope="row">{{todo.id}}</th>
                <td>{{todo.name}}</td>
                <td>{{todo.status}}</td>
            </tr>
        </tbody>
    </table>
</div>